---
interface Props {
  size?: "xs" | "sm" | "md" | "lg" | "xl" | "2xl" | "3xl" | "4xl" | "5xl";
  classList?: string;
}

const { size = "md", classList = '' } = Astro.props;

const sizes = {
  xs: 16,
  sm: 20,
  md: 24,
  lg: 28,
  xl: 32,
  "2xl": 40,
  "3xl": 48,
  "4xl": 56,
  "5xl": 64,
};

const melosChurchSVG = `
<svg 
  class="h-[${sizes[size]}px] w-auto aspect-[264/182] ${classList}"
  height="${sizes[size]}"
  viewBox="0 0 264 182"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <mask id="mask0_1068_84" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="56" width="264" height="126">
    <rect width="263.15" height="124.65" transform="translate(0 56.7865)" fill="white"/>
  </mask>
  <g mask="url(#mask0_1068_84)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M164.468 -5.94782C164.468 -80.9197 98.804 -81.2484 98.6808 -6.14576C98.5575 -81.2484 32.8934 -80.9197 32.8934 -5.94782C32.8934 28.4238 47.578 56.297 65.7087 56.3772C47.4795 56.4178 42.6023 76.8535 36.4303 102.715C30.3129 128.347 22.9234 159.31 0 181.026L65.7916 181.027C80.0559 170.89 82.7408 146.343 85.3426 122.556C87.5399 102.468 89.678 82.9206 98.6812 73.0528C128.589 204.912 147.542 135.121 160.626 86.9414C161.967 82.006 163.246 77.2947 164.469 73.053C173.471 82.9199 175.609 102.464 177.807 122.55C180.41 146.339 183.096 170.889 197.366 181.027C197.366 181.027 197.067 181.027 263.15 181.026C237.933 158.73 230.809 126.686 225.026 100.672C219.494 75.7854 215.188 56.4166 197.441 56.3772C215.572 56.2969 230.256 28.4238 230.256 -5.94782C230.256 -81.1005 164.468 -81.1003 164.468 -5.94782ZM164.468 -5.94782C164.468 28.4237 149.784 56.2967 131.653 56.3772C143.607 56.4036 154.813 62.4703 164.469 73.053C174.124 62.4704 185.331 56.4037 197.284 56.3772C179.153 56.2967 164.468 28.4237 164.468 -5.94782ZM98.6812 73.0528C89.0259 62.4702 77.8193 56.4036 65.866 56.3772C83.9616 56.2968 98.6245 28.5306 98.6808 -5.74988C98.7371 28.5308 113.4 56.2971 131.496 56.3772C119.543 56.4038 108.336 62.4704 98.6812 73.0528Z" fill="currentColor"/>
  </g>
  <circle cx="69.2498" cy="27.7" r="27.7" fill="currentColor"/>
  <circle cx="131.575" cy="27.7" r="27.7" fill="currentColor"/>
  <circle cx="193.9" cy="27.7" r="27.7" fill="currentColor"/>
</svg>
`
---

<div>
  <p class="sr-only">Melos.Church</p>
  <div 
    class={`rounded-none translate-y-0.5 ${classList} inline-block`} 
    set:html={melosChurchSVG}
    style={{
      height: `${sizes[size]}px`,
    }}
  ></div>
</div>